.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-wrapper {
    padding: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    min-width: 250px;
}